<ion-view view-title="Ristorante con Fusion">
  <ion-content on-drag-down="refresh()">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="card">
        <div class="item item-divider">
            Our Lipsmacking Culinary Creations
            <span class="badge badge-assertive">{{dish.label}}</span>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img ng-src="{{baseURL+dish.image}}" alt="Uthappizza" />
            <h2>
                {{dish.name}}
                <span class="badge">{{dish.price | currency}}</span>
            </h2>
            <p>{{dish.description}}</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            This Month's promotions
            <span class="badge badge-assertive">{{featuredPromotion.label}}</span>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img ng-src="{{baseURL+promotion.image}}" alt="Uthappizza"/>
            <h2>{{promotion.name}}</h2>
            <span class="badge">{{featuredPromotion.price | currency}}</span>
            <p>
                {{promotion.description}}
            </p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            Meet our Culinary Specialists
            <span class="badge badge-assertive">{{leader.label}}</span>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img ng-src="{{baseURL+leader.image}}" alt="Peter Pan"/>
            <h2>{{leader.name}}</h2>
            <span class="badge">{{leader.price | currency}}</span>
            <p>
                {{leader.description}}
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>
